.pglake-meta { display: block; margin-top: 0.25rem; font-size: 0.8rem; color: #959396; }

.site-nav ul li a { background-image: linear-gradient(-90deg, #e9f1f7 0%, rgba(233, 241, 247, 0.8) 80%, rgba(233, 241, 247, 0) 100%); }
